<div class="slide-animate-container" ng-controller="DrawTrackingCtrl">
  <div class="slide-animate" ng-include = "'app/components/tracking/tracking.map.html'"></div>
  <div class="slide-animate" ng-include = "'app/components/tracking/tracking.qualify.html'"></div>
  <div class="slide-animate {{headerDefault.div1Class}}" ng-include = "'app/components/tracking/tracking.header.html'"></div>
  <div class="slide-animate {{headerDefault.div2Class}}" ng-include = "'app/components/tracking/tracking.header2.html'" ng-controller="AdminTrackingCtrl"></div>
</div>
