<div class="table-responsive" ng-controller="GridTrackingCtrl" data-ng-init="init('active')">
  <table class="table table-striped">
    <thead>
      <tr>
        <td class="d-none" scope="row">Id</td>
        <td>Action</td>
        <td>Invoice</td>
        <td>Nit</td>
        <td>Units</td>
        <td>Email</td>
        <td class="d-none">Created</td>
        <td class="d-none">Updated</td>
        <td>Warehouse</td>
        <td class="d-none">Status</td>
        <td class="d-none">Uid</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-if="order.status == 1" ng-repeat="order in orders">
        <td class="d-none" scope="row">{{order.id}}</td>
        <td>
          <i ng-click="changestatus(order)" class="fa fa-toggle-{{order.status === 1 ? 'on' : 'off'}}" style="font-size:48px;color:{{order.status === 1 ? 'blue' : 'gray'}}"></i>
        </td>
        <td>{{order.invoiceid}}</td>
        <td>{{order.nit}}</td>
        <td>{{order.unit}}</td>
        <td>{{order.email}}</td>
        <td class="d-none">{{order.created}}</td>
        <td class="d-none">{{order.updated}}</td>
        <td>{{order.warehouse}}</td>
        <td class="d-none">{{order.status}}</td>
        <td class="d-none">{{order.uid}}</td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-primary px-4" ng-click="init('active')" type="button">Refresh</button>
  <button class="btn btn-primary px-4" ng-click="getOrders()" type="button">Show latest</button>
</div>
