<div class="table-responsive" ng-controller="GridTrackingCtrl">
  <table class="table table-striped">
    <thead>
      <tr>
        <td class="d-none" scope="row">Id</td>
        <td>Invoice</td>
        <td>Nit</td>
        <td>Units</td>
        <td>Email</td>
        <td>Created</td>
        <td>Updated</td>
        <td>Location</td>
        <td class="d-none">Status</td>
        <td class="d-none">Uid</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="order in orders">
        <td class="d-none" scope="row">{{order.id}}</td>
        <td>{{order.invoice}}</td>
        <td>{{order.nit}}</td>
        <td>{{order.units}}</td>
        <td>{{order.email}}</td>
        <td>{{order.created}}</td>
        <td>{{order.updated}}</td>
        <td>{{order.location}}</td>
        <td class="d-none">{{order.status}}</td>
        <td class="d-none">{{order.uid}}</td>
      </tr>
    </tbody>
  </table>
</div>
