<div class="table-responsive" ng-controller="GridTrackingCtrl" data-ng-init="init('closed')">
  <table class="table table-striped">
    <thead>
      <tr>
        <td class="d-none" scope="row">Id</td>
        <td>Invoice</td>
        <td>Nit</td>
        <td>Units</td>
        <td>Email</td>
        <td class="d-none">Created</td>
        <td class="d-none">Updated</td>
        <td>Warehouse</td>
        <td class="d-none">Status</td>
        <td class="d-none">Uid</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-if="order.status != 1" ng-repeat="order in orders">
        <td class="d-none" scope="row">{{order.id}}</td>
        <td>{{order.invoiceid}}</td>
        <td>{{order.nit}}</td>
        <td>{{order.unit}}</td>
        <td>{{order.email}}</td>
        <td class="d-none">{{order.created}}</td>
        <td class="d-none">{{order.updated}}</td>
        <td>{{order.warehouse}}</td>
        <td class="d-none">{{order.status}}</td>
        <td class="d-none">{{order.uid}}</td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-primary px-4" ng-click="init('closed')" type="button">Refresh</button>
  <button class="btn btn-primary px-4" ng-click="getOrders()" type="button">Review Data into console</button>
</div>
