<style>
  .tabsdemoCenterTabs {
  /*
 * Style tab width to align with the MD spec:
 * https://material.io/archive/guidelines/components/tabs.html#tabs-specs
 */ }
  .tabsdemoCenterTabs md-tab-item {
    min-width: 72px; }
  @media (min-width: 960px) {
    .tabsdemoCenterTabs md-tab-item {
      min-width: 160px; } }
  .taborders > ._md {
    min-height: 275px;
    width: 100% !important;
    position: fixed;
    line-height: 30px;
    padding: 0px;
    top: 56px;
  }
  md-tabs:not(.md-no-tab-content):not(.md-dynamic-height) {
    min-height: 435px;
  }
</style>
<!-- ng-controller="AdminTrackingCtrl" -->
<div class="tracking-ctr-admin-top  col-md-12">
  <div ng-include = "'app/components/tracking/tracking.header2.html'" ng-controller="AdminTrackingCtrl"></div>
  <div ng-include = "'app/components/tracking/tracking.taborders.html'" ng-controller="CheckLoginCtrl"></div>
</div>
