<div ng-cloak>
  <md-content>
    <md-tabs class="md-primary" md-center-tabs>
      <md-tab>
        <md-tab-label>
          <i class="fa fa-globe" aria-hidden="true"></i>
          <span>All</span>
        </md-tab-label>
        <md-content class="md-padding">
          <h2 class="md-display-1">All</h2>
          <p class="md-body-1">
            loading All...
          </p>
        </md-content>
      </md-tab>
      <md-tab>
        <md-tab-label>
          <i class="fa fa-play" aria-hidden="true"></i>
          <span>Active</span>
        </md-tab-label>
        <md-content class="md-padding">
          <h2 class="md-display-1">Active</h2>
          <p class="md-body-1">
            loading Active...
          </p>
        </md-content>
      </md-tab>
      <md-tab>
        <md-tab-label>
          <i class="fa fa-stop" aria-hidden="true"></i>
          <span>Closed</span>
        </md-tab-label>
        <md-content class="md-padding">
          <h2 class="md-display-1">Closed</h2>
          <p class="md-body-1">
            loading Closed...
          </p>
        </md-content>
      </md-tab>
      <md-tab>
        <md-tab-label>
          <i class="fa fa-forward" aria-hidden="true"></i>
          <span>New</span>
        </md-tab-label>
        <md-content class="md-padding">
          <h2 class="md-display-1">New</h2>
          <p class="md-body-1">
            loading New...
          </p>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
