html, body {
  height: 100%;
}
body {
 color: white;
 margin: 0;
 background: #01003f;
 background-image: url("../images/3.png");
 background-position: center;
 background-repeat: no-repeat;
 background-size: contain;
 min-height: 500px;
 display: flex;
 flex-direction: column;
}
.cover-container {
  /*display: none;*/
}
.flexcontainer {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-flow: column wrap;
   align-content: center;
}
.content {
  flex: 1 0 auto;
}
header {
  background: black;
  margin: 0;
}
.footer {
  /*background: black;
  flex-shrink: 0;*/
  position:fixed;
  bottom:0;
}
.box.actions {
}
.fixcw75 {
  max-width: 500px;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ng-view-default-width{
  width:100%;
}

.imgintro {
  max-width: 300px;
  width: 25%;
  min-width: 200px;
}
