{% extends 'base.html' %}
{% block title%}{{data.labels.title}}{% endblock %}
{% block content%}
  <header>
    <div class="text-center p-1">Welcome to Tracking orders!</div>
  </header>
  <p></p>

  <div class="form-group justify-content-center checkstatus mx-auto col-md-12  col-sm-12">
    <div class="row">
      <div class="col-md-12  col-sm-12">
        <p></p>
        <h4>Choose your role</h4>
        <p></p>
      </div>
    </div>
    <div class="row col-md-12">
      <div class="col-md-2 col-sm-2"></div>
      <div class="col-md-3 col-sm-3">
        <div>Clients</div>
        <a title="go track!" href="/static/tracking/index.html"><img class="imgintro" src="/static/images/location2.png"></a>
        <br><br>
      </div>
      <div class="col-md-2 col-sm-2"></div>
      <div class="col-md-3 col-sm-3">
        <div>Admin</div>
        <a title="go track!" href="/static/tracking/index.html#!/tracking/login"><img class="imgintro" src="/static/images/control2.png"></a>
        <br><br>
      </div>
      <div class="col-md-2 col-sm-2"></div>
    </div>
  </div>


  <footer>
    <p class="text-right p-3"><small><a target="_blank" href="https://www.linkedin.com/in/fesus/">By Fesus Rocuts</a></small></p>
  </footer>
{% endblock %}
