{% extends 'base.html' %}
{% block title%}{{data.labels.title}}{% endblock %}
{% block content%}
  <header>
    <div class="text-center p-1">Welcome to Tracking orders!</div>
  </header>
  <p></p>
  <div class="container d-flex justify-content-center w-75 fixcw75">
    <div class="container d-flex justify-content-center w-75 fixcw75">
      <div class="row">
        <a title="go track!" href="/static/tracking/index.html"><img class="imgintro" src="/static/images/location.png"></a>
      </div>
    </div>
  </div>
  <footer>
    <p class="text-right p-3"><small><a target="_blank" href="https://www.linkedin.com/in/fesus/">By Fesus Rocuts</a></small></p>
  </footer>
{% endblock %}
